#logo {
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
  color: #000;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: inherit;
  margin-right: 15px;
}

#main-menu {
  font-size: 18px;
  padding: 25px;
  text-align: center;
}

#main-menu a:hover {
  color: red;
}

#overlay {
  background-image: url(\starter-code\img\slider.jpg);
  /*background-repeat: no-repeat;*/
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 100;
}

p {
  text-align: center;
}

#triple {
  padding: 40px 0px;
  background: #ed564b;
  border-top: 5px solid #f96b61;
  border-bottom: 5px solid #f96b61;
  color: #fff;
}


.glyphicon-ring {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  display: inline-table;
  text-align: center;

}

.glyphicon-ring .glyphicon-bordered {
  font-size: 20px;
  vertical-align: middle;
  display: table-cell;
}

.mini-project-image {
  width:  170px;
  height: 120px;
  margin-left: 10px;
}

/*.dropdown-menu {
  color: #777;
  display: block;
  margin: 0;
  padding: 19px 10px 19px 10px;
  text-decoration: none;
  position: relative;
}
*/
